<div class="container">

    <div class="row pt-3 mr-2 justify-content-center align-items-center">
        <div class="bg2 col-auto d-flex flex-column justify-content-center "> 
            <a> SOBRE A MARCA
                
                <button class="btn2" [routerLink]="['/home']" type="submit"><i class="fas fa-arrow-left simb"></i> </button>
            </a>
    </div>            
    
        <div class="row pt-3 justify-content-center mb-5" id="bg">

            <section class="marca">

                <div class="row justify-content-center">
                 <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">

                    <img class="foto img-fluid mb-3 pt-3" src="assets/img/foto1.png" alt="foto1">
                  
                     <div>
                        <img class="regras img-fluid mb-2 d-block mx-auto" src="assets/img/titulo.png" alt="foto">
                         <ul class="texto pt-2 mb-5">
                             <li> Jogue a carta mais forte </li>
                             <li> Coma bolo no café da manhã </li>
                             <li> Encontre o bom do ruim </li>     
                             <li> Seja quem começa a festa </li>
                             <li> Compartilhe seu guarda-chuva </li>
                             <li> Viva coloridamente </li>
                         </ul>  
                    </div>          
                 </div>
            
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                    
                    <img class="sobreMarca img-fluid mb-4 ml-3 pt-3" src="assets/img/sobre.png" alt="sobre a marca">
                    
                    <div class="sobre mb-5">
                       <div class="pt-2 pr-1 pl-1 align-items-center text-center">
                           <p>  bycongirly! é uma marca autêntica e circular, movida<br> 
                               em essência pela paixão por experimentações do <br>
                               processo criativo e pelas espontaneidades que cercam <br>
                               a nossa vida. Tem como inspiração mulheres, músicas, <br>
                               histórias da vida cotidiana, cores e palavras. <br> 
                               Se baseia na descoberta fluída de repertório, partindo <br>
                               desde desenhos animados e se desdenhando até os <br>
                               valores mais ambíguos da expressão pessoal e experimentação
                                artística.<br> </p>     </div>
                    </div>

                </div>
                </div>
            </section>
            
        </div>
    </div> 

   
        <div class="row pt-3 mr-2 justify-content-center align-items-center">
            <div class="bg3 col-auto d-flex flex-column justify-content-center "> 
                <a> SOBRE O ARTISTA
                    <button class="btn2" [routerLink]="['/home']" type="submit"><i class="simb fas fa-arrow-left"></i> </button>
                </a>
            </div>   
                    
            
        <div class="row pt-3 justify-content-center mb-5" id="bg3">
                
            <section class="artista">
                <div class="row justify-content-center">
                <div class="col-md-6 pb-5 d-flex flex-column justify-content-center align-items-center">
           
                    <img class="nome img-fluid mb-5 ml-4 pt-5" src="assets/img/nome.png" alt="nome">

                    <div class="sobre-artista mr-3"> 
                        <div class="pt-2 pb-1 pl-2 pr-2 align-items-center text-center">
                        <p> 
                        Formada em Aprendizagem Industrial nos cursos de Impressão Digital 
                        e Moda e Confecção, estudou Produção de Moda pelo SENAC e fez parte 
                        dos projetos SENAI MODATEC Bolsas e Calçados - Plantas do Cerrado 
                        com exposição na 22ª Edição do MINAS TREND e Desafio de ideias ABIT
                        em parceria com o SENAI MODATEC MG e SENAI Moda São Paulo, em 2019.  <br>
                        Com sua paixão por áreas criativas e as possibilidades de se expressar 
                        a partir de diferentes médiuns, tem como linhas de interesse desde a 
                        performance até a escrita criativa, possuindo a moda como seu maior 
                        foco de pesquisa e desenvolvimento atual, cursando a graduação no Centro 
                        Universitário UNA.</p> </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                    
                    <img class="foto2 img-fluid pb-3 mr-5" src="assets/img/foto2.png" alt="foto1">

                   
                    <div>
                        <img class="contato img-fluid mt-4 mb-3 d-block mx-auto" src="assets/img/cnt.png" alt="foto">
                         <ul class="cont pt-2 mb-5 mr-3">
                            <i class="fab fa-instagram"></i> @congirlys_ <br>    
                            <i class="fab fa-whatsapp"></i> 0000000000       <br>
                            <i class="far fa-envelope"></i> email@email.com <br>  
                         </ul>  
                    </div>         

            
                   

                </div>     
                </div> 

            </section>

        </div>   