
.bg2{
    position: relative;
    top: 10px;
    height: 35px;
    border: 1px solid #000000;
    font-family: monospace;
    background-color: #17a2b8;
    width: 100%;
    font-style: bold;
    margin-bottom: 2px solid black;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #000000;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #000000;
}

.btn-info {
    color: #000;
    background-color: #17a2b8;
    border-color: #000000;
    border-radius: 0px;
}

.btn-outline-success {
    border-radius: 0px;
}

.btn-outline-danger {
    border-radius: 0px;
}
