<div class="container">
  <div class="row pt-4 mt-5 mb-3 mx-auto text-align-center">

    <div class="bg2 col-auto d-flex flex-column justify-content-center font-weight-bold mb-3 mt-3"> 
      <a> PAINEL </a>
    </div>  

  <table class="table table-bordered text-center mb-3 mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Coleção</th>
        <th scope="col">Descrição</th>
        <th scope="col">Imagem</th>
        <th scope="col">Edição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projetos of projetosLista">
        <td> {{projetos.id}} </td>
        <td> <a [routerLink]="['/portfolio-detalhes', projetos.id]">
          {{projetos.colecao}}
        </a> </td>
        <td>{{projetos.descricao}}</td>
        <td>{{projetos.imagem}}</td>
        <td class="justify-content-center ">
          <button [routerLink]="['/editar', projetos.id]" class="btn mx-atuo btn-outline-success  mb-2">
            Editar
          </button>
          <button class="btn btn-outline-danger mx-auto" (click)="excluir(projetos.id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  

<div >
  <button class="btn btn-info" [routerLink]="['/portfolio-info']"> Adicionar </button>
</div>

</div>

</div>
